@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --bg-gradient-violet:hsl(273, 75%, 66%);
    --bg-gradient-blue:hsl(240, 73%, 65%);
    --text-soft-red:hsl(14, 88%, 65%);
    --text-desaturated-blue:hsl(238, 29%, 16%);
    --dark-grayish-blue:hsl(237, 12%, 33%);
    --darker-grayish-blue:hsl(240, 6%, 50%);
    --divider-blue: hsl(240, 5%, 91%);

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

body{
    font-family: "Kumbh Sans", sans-serif;;
    font-size: 12px;
    background: linear-gradient(180deg, var(--bg-gradient-violet),
    var(--bg-gradient-blue));
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    margin: 10px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 1000px;
    background: #fff;
    display: flex;
    height: 80%;
    border-radius: 20px;
}

.image-container{
    max-width: 50%;
    position: relative;
}

.pattern-image{
    position: relative;
    overflow: hidden;
}

.pattern-img{
    position: relative;
    width: 900px;
    height: 900px;
    top: -280px;
    left: -495px;
}

.pattern-image::before{
    content: "";
    background: url("/images/illustration-woman-online-desktop.svg") no-repeat
    center center/cover;
    position: absolute;
    width: 490px;
    height: 370px; 
    top: 50px;
    left: -115px;
    z-index: 10;
}

.image-container::after{
    content:"";
    background: url("/images/illustration-box-desktop.svg") no-repeat
    center center/cover;
    position: absolute;
    width: 200px;
    height: 200px;
    top: 205px;
    left: -98px;
    z-index: 10;
}

.text-container{
    max-width: 50%; 
    display: flex; 
    flex-direction: column;
    overflow:hidden;

}

.wrapper {
    margin: 70px 20px;
}

.wrapper h2{
    color: var(--text-desaturated-blue);
    font-size: 2.5em;
    font-weight: bold;
}

.wrapper ul{
    margin-top: 1.5em;
    width: 400px;
    overflow: auto;
    max-height: 300px;
}

.wrapper li{
    border-bottom: 1px solid var(--divider-blue);
    padding: 15px 0;
}

.wrapper .accordion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px 20px 0 0;
}

.wrapper .accordion p{
    font-size: 14px;
    color: var(--darker-grayish-blue);
    font-weight: 400;
}

img.dropdown{
    width: 10px;
    height: 8px;
    margin-right: 25px;
}

.wrapper .panel{
    width: 80%;
    line-height: 1.75;
    color: var(--dark-grayish-blue);
    margin-top: 1em;
    font-size: 1em;
    display: none;
}

.wrapper .panel:hover{
    color: var(--text-soft-red);
}

.attribution{
    text-align: center;
    margin-top: 2em;
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    font-size: 1.2em;
}

.attribution a {
    color: var(--text-soft-red);
    text-decoration: none;
}

@media only screen and (max-width:900px){
    body{
        margin: 10px 100px;
    }
    .container{
        max-width: 800px;
    }
    .wrapper ul{
        width: 350px;
        overflow: auto;
        max-height: 300px;
    }

    .wrapper .panel{
        width: 90%;
    }
}

@media screen and (max-width:768px){
    body{
        margin:25px;
        height: 110vh;
        overflow: auto;
    }
    .container{
        max-width: 100%;
        height: 600px;
    }

    .wrapper h1{
        text-align: center;
    }
    .image-container,
    .text-container{
        width: 100%;
    }
    .wrapper ul{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .container{
        height: fit-content;
    }

    .image-container{
        display: none;
    }

    .text-container{
        max-width: 100%;
        position: relative;
    }

    .container::after{
        content: "";
        background: url("/images/illustration-woman-online-mobile.svg") no-repeat
        center center/cover;
        position: absolute;
        top: 50px;
        left: 50px;
        width: 260px;
        height: 189px;
        z-index: 10;
    }
    
    .container::before {
        content: "";
        background: url("/images/bg-pattern-mobile.svg") no-repeat center
        center/cover;
        position: absolute;
        top: 60px;
        left: 90px;
        width: 200px;
        height: 200px;
    }

        .wrapper{
            margin-top: 15em;
        }
}